.welcome{
    background-color: blueviolet; 
    height: 50px;
    width: 100%;
    
}

nav{
    background-color: cadetblue;
    height: 80;
    width: 100%;
}
label.logo{
    color:cornsilk;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px; 
    font-weight: bold;

}
nav ul {
    float: right;
    margin-right:  20px;

}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: -30px 10px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
 text-transform: uppercase;

}
a.mid, a:hover{
     background: violet;
     transition: .5s;
}
.img{
    width: 100%;
}